@font-face {
  font-family: 'droid_serif_regular';
  src: url("DroidSerif-Regular-webfont.eot");
  src: url("DroidSerif-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("DroidSerif-Regular-webfont.woff") format("woff"), url("DroidSerif-Regular-webfont.ttf") format("truetype"), url("DroidSerif-Regular-webfont.svg#droid_serifregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansbold';
  src: url("OpenSans-Bold-webfont.eot");
  src: url("OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("OpenSans-Bold-webfont.woff") format("woff"), url("OpenSans-Bold-webfont.ttf") format("truetype"), url("OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  font-family: 'droid_serif_regular', serif; }

h1,
.cm-s-default .cm-header-1, h2,
.cm-s-default .cm-header-2, h3,
.cm-s-default .cm-header-3, h4,
.cm-s-default .cm-header-4, h5,
.cm-s-default .cm-header-5, h6,
.cm-s-default .cm-header-6, .info_bar span {
  font-family: 'open_sansbold', serif; }

html, body {
  font-size: 17px;
  line-height: 1.9rem; }

.preview, .CodeMirror {
  color: #4F5E6E; }

h1,
.cm-s-default .cm-header-1, h2,
.cm-s-default .cm-header-2, h3,
.cm-s-default .cm-header-3, h4,
.cm-s-default .cm-header-4, h5,
.cm-s-default .cm-header-5, h6,
.cm-s-default .cm-header-6 {
  color: #39434D; }

h1,
.cm-s-default .cm-header-1 {
  font-size: 2.2rem;
  line-height: 2.5rem; }

h1 {
  margin-bottom: 1.8rem; }

h2,
.cm-s-default .cm-header-2 {
  font-size: 1.7rem;
  line-height: 2rem; }

h3,
.cm-s-default .cm-header-3 {
  font-size: 1.5rem;
  line-height: 1.8rem; }

h4,
.cm-s-default .cm-header-4 {
  font-size: 1.3rem;
  line-height: 1.5rem; }

h5,
.cm-s-default .cm-header-5 {
  font-size: 1.1rem;
  line-height: 1.3rem; }

h6,
.cm-s-default .cm-header-6 {
  font-size: 1rem;
  line-height: 1.1rem; }

p {
  margin-bottom: 1.5rem; }

.cm-s-default .cm-markdown-header {
  top: 0;
  left: -80px;
  width: 80px;
  display: block;
  color: #A6B1BE;
  text-align: right;
  position: absolute;
  font-size: inherit;
  font-family: 'open_sansbold', sans-serif; }

.cm-s-default .cm-link {
  color: #1292FF; }

.cm-s-default .cm-url {
  color: #A6B1BE; }

.cm-s-default .cm-comment {
  color: #AEB7BE; }

.cm-s-default .cm-variable-2 {
  color: #4F5E6E; }

.cm-s-default .cm-markdown-code-span {
  color: #39434D;
  background: #eee;
  border-radius: 3px;
  font-family: monospace; }

.cm-s-default .cm-markdown-code {
  color: #A6B1BE;
  font-size: 0.8rem;
  font-family: 'open_sansbold', sans-serif; }

.cm-s-default .cm-markdown-list {
  color: #A6B1BE;
  padding-right: 10px; }

.cm-keyword,
.cm-tag,
.cm-string,
.cm-variable,
.cm-def {
  line-height: 1;
  font-size: 0.9rem;
  font-family: monospace; }

.preview {
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  padding: 80px 15vw;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transform: translate(80%, 0);
  transition: all 0.8s cubic-bezier(0.3, 0, 0.1, 1.1); }

.preview--open {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0); }

.preview ul {
  padding-left: 2rem;
  margin-bottom: 1.5rem; }

.editor {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  transform: translate(-80%, 0);
  transition: all 0.8s cubic-bezier(0.3, 0, 0.1, 1.05); }

.editor--open {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0); }

.CodeMirror {
  height: auto;
  min-height: 100vh;
  padding: 80px 15vw;
  box-sizing: border-box; }

.CodeMirror-scroll {
  overflow: visible !important; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.application::before {
  top: 0;
  left: 0;
  z-index: 5;
  content: '';
  width: 100%;
  height: 100px;
  display: block;
  position: fixed;
  pointer-events: none;
  background: linear-gradient(white, rgba(255, 255, 255, 0)); }

.application::after {
  left: 0;
  bottom: 0;
  z-index: 5;
  content: '';
  width: 100%;
  height: 140px;
  display: block;
  position: fixed;
  pointer-events: none;
  background: linear-gradient(rgba(255, 255, 255, 0), white); }

.info_bar {
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  position: fixed; }
  .info_bar span {
    color: #A6B1BE;
    font-size: 11px;
    text-transform: uppercase; }
  .info_bar .current_mode {
    bottom: 0;
    left: 10px;
    position: absolute; }
  .info_bar .wordcount {
    bottom: 0;
    right: 10px;
    position: absolute; }
