.editor {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, -250px);
  transition: all 0.5s cubic-bezier(0.3, 0, 0.1, 1.1);
}

.editor--open {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}
