.editor {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;

  opacity: 0;
  visibility: hidden;
  transform: translate(-80%, 0);
  transition: all 0.8s cubic-bezier(0.3, 0, 0.1, 1.05);
}

.editor--open {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.CodeMirror {
  height: auto;
  min-height: 100vh;
  padding: 80px 15vw;
  box-sizing: border-box;
}
