@import "typography";
@import "preview";
@import "editor";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.application::before {
  top: 0;
  left: 0;
  z-index: 5;
  content: '';
  width: 100%;
  height: 100px;
  display: block;
  position: fixed;
  pointer-events: none;
  background: linear-gradient(rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.0));
}

.application::after {
  left: 0;
  bottom: 0;
  z-index: 5;
  content: '';
  width: 100%;
  height: 140px;
  display: block;
  position: fixed;
  pointer-events: none;
  background: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1.0));
}

.current_mode {
  width: 100%;
  z-index: 10;
  bottom: 5px;
  position: fixed;
  text-align: center;

  span {
    font-size: 11px;
    color: #A6B1BE;
    text-transform: uppercase;
    font-family: 'open_sansbold', sans-serif;
  }
}
