@import "typography";
@import "preview";
@import "editor";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.application::before {
  top: 0;
  left: 0;
  z-index: 5;
  content: '';
  width: 100%;
  height: 100px;
  display: block;
  position: fixed;
  pointer-events: none;
  background: linear-gradient(rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.0));
}

.application::after {
  left: 0;
  bottom: 0;
  z-index: 5;
  content: '';
  width: 100%;
  height: 140px;
  display: block;
  position: fixed;
  pointer-events: none;
  background: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1.0));
}

.info_bar {
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  position: fixed;

  span {
    color: #A6B1BE;
    font-size: 11px;
    @extend %sans-serif;
    text-transform: uppercase;
  }

  .current_mode {
    bottom: 0;
    left: 10px;
    position: absolute;
  }

  .wordcount {
    bottom: 0;
    right: 10px;
    position: absolute;
  }
}

