@import 'fonts';

$header: #39434D;
$copy: rgba(0,0,0,.8);
$link: #1292FF;
$subtle: #A6B1BE;
$comment: #AEB7BE;

html, body {
  font-size: 18px;
  line-height: 2rem;
}

* { @extend %serif; }

.preview, .CodeMirror { color: $copy; }

// Headers
%header {
  color: $header;
  @extend %sans-serif;
}

h1,
.cm-s-default .cm-header-1 {
  @extend %header;
  font-size: 2.2rem;
  line-height: 2.5rem;
}

h1 { margin-bottom: 1.8rem; }

h2,
.cm-s-default .cm-header-2 {
  @extend %header;
  font-size: 1.7rem;
  line-height: 2rem;
}

h3,
.cm-s-default .cm-header-3 {
  @extend %header;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

h4,
.cm-s-default .cm-header-4 {
  @extend %header;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

h5,
.cm-s-default .cm-header-5 {
  @extend %header;
  font-size: 1.1rem;
  line-height: 1.3rem;
}

h6,
.cm-s-default .cm-header-6 {
  @extend %header;
  font-size: 1rem;
  line-height: 1.1rem;
}

// text elements
p { margin-bottom: 1.5rem; }

.cm-s-default .cm-markdown-header {
  top: 0;
  left: -80px;
  width: 80px;
  display: block;
  color: $subtle;
  text-align: right;
  position: absolute;
  font-size: inherit;
  font-family: 'open_sansbold', sans-serif;
}

.cm-s-default .cm-link {
  color: $copy;
  text-decoration: underline;
}

.cm-s-default .cm-url {
  color: $subtle;
}

.cm-s-default .cm-comment {
  color: $comment;
}

.cm-s-default .cm-variable-2 { color: $copy; }

.cm-s-default .cm-markdown-code-span {
  color: $header;
  background: #eee;
  border-radius: 3px;
  font-family: monospace;
}

.cm-s-default .cm-markdown-code {
  color: $subtle;
  font-size: 0.8rem;
  font-family: 'open_sansbold', sans-serif;
}

.cm-s-default .cm-markdown-list {
  color: $subtle;
  padding-right: 10px;
}

.cm-s-default .cm-quote {
  color: $copy;
  font-size: 1.5rem;
  font-style: italic;
}

.CodeMirror-line .cm-quote-1 {
  margin-left: 2rem;
}

.cm-keyword,
.cm-tag,
.cm-string,
.cm-variable,
.cm-def {
  line-height: 1;
  font-size: 0.9rem;
  font-family: monospace;
}
